Node-Red flow
[
    {
        "id": "1d2da0ecb43531e3",
        "type": "tab",
        "label": "aWattar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8eec1f226c042e36",
        "type": "debug",
        "z": "1d2da0ecb43531e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "57cf21cbc848c7e2",
        "type": "http request",
        "z": "1d2da0ecb43531e3",
        "name": "Preise von API laden",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.awattar.at/v1/marketdata",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "0c51d0c204ec39cb"
            ]
        ]
    },
    {
        "id": "cd8b5c6b39168df3",
        "type": "inject",
        "z": "1d2da0ecb43531e3",
        "name": "Stündlicher Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "17e257374cc4f17f"
            ]
        ]
    },
    {
        "id": "a748e5430cccdc80",
        "type": "switch",
        "z": "1d2da0ecb43531e3",
        "name": "1/0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 240,
        "wires": [
            [
                "f2073ebb56594146",
                "c044118ff3bc79b7",
                "9295c4c91e663f18"
            ],
            [
                "c044118ff3bc79b7",
                "e2279e5fcd1c2d90"
            ]
        ]
    },
    {
        "id": "cf52d78e7ed2c30c",
        "type": "victron-output-evcharger",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.evcharger/40",
        "path": "/StartStop",
        "serviceObj": {
            "service": "com.victronenergy.evcharger/40",
            "name": "Wallbox"
        },
        "pathObj": {
            "path": "/StartStop",
            "type": "enum",
            "name": "Start/stop charging (manual mode)",
            "enum": {
                "0": "Stop",
                "1": "Start"
            },
            "writable": true
        },
        "initial": "",
        "name": "Laden starten/stoppen",
        "onlyChanges": false,
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "d91eacc0637631fd",
        "type": "victron-output-evcharger",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.evcharger/40",
        "path": "/SetCurrent",
        "serviceObj": {
            "service": "com.victronenergy.evcharger/40",
            "name": "Wallbox"
        },
        "pathObj": {
            "path": "/SetCurrent",
            "type": "float",
            "name": "Set charge current (manual mode) (A)",
            "writable": true
        },
        "initial": "",
        "name": "Ladeleistung",
        "onlyChanges": false,
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2073ebb56594146",
        "type": "change",
        "z": "1d2da0ecb43531e3",
        "name": "LadeleistungEV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"LadeleistungEV\"",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 180,
        "wires": [
            [
                "d91eacc0637631fd"
            ]
        ]
    },
    {
        "id": "6669a65cb2aa872e",
        "type": "victron-output-evcharger",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.evcharger/40",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.evcharger/40",
            "name": "Wallbox"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Mode",
            "enum": {
                "0": "Manual",
                "1": "Auto",
                "2": "Schedule"
            },
            "writable": true
        },
        "initial": "1",
        "name": "Auto Modus",
        "onlyChanges": false,
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "247704ba12d5d659",
        "type": "victron-output-evcharger",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.evcharger/40",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.evcharger/40",
            "name": "Wallbox"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Mode",
            "enum": {
                "0": "Manual",
                "1": "Auto",
                "2": "Schedule"
            },
            "writable": true
        },
        "initial": "1",
        "name": "Manuel Modus",
        "onlyChanges": false,
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "c044118ff3bc79b7",
        "type": "delay",
        "z": "1d2da0ecb43531e3",
        "name": "5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "cf52d78e7ed2c30c"
            ]
        ]
    },
    {
        "id": "f8307acf10b323eb",
        "type": "debug",
        "z": "1d2da0ecb43531e3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "17e257374cc4f17f",
        "type": "function",
        "z": "1d2da0ecb43531e3",
        "name": "Zeit und Preis filtern",
        "func": "// Hole die aktuelle Stunde\nvar currentHour = new Date().getHours();\n\n// Überprüfe, ob die aktuelle Stunde in den günstigsten Stunden ist und der Preis die Grenze unterschreitet\nvar isCheapestHour = flow.get(\"GünstigsteStunden\").some(function(hour) {\n    // Annahme: currentHour ist die aktuelle Stunde im Format 0-23\n    var currentTimestamp = Date.now();\n    \n    return currentTimestamp >= hour.start_timestamp && currentTimestamp < hour.end_timestamp && hour.marketprice < flow.get(\"Preisgrenze\");\n});\n\n\n// Setze den Payload auf 1 oder 0 basierend auf der Bedingung\nmsg.payload = isCheapestHour ? 1 : 0;\n\n// Gib die Nachricht aus\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "a748e5430cccdc80",
                "ec26c9f2c323b381",
                "0170e9b146bfe414",
                "f8307acf10b323eb"
            ]
        ]
    },
    {
        "id": "e202f02b7a337ac4",
        "type": "function",
        "z": "1d2da0ecb43531e3",
        "name": "Parameter",
        "func": "//Generelle Parameter\n\nPreisgrenze = 20            // [€/MWh]\nAnzahlStunden = 6           // An wie vielen Stunden am Tag soll geladen werden\nSonnenAufgang = 5           // nachtladen Ende\nSonnenUntergang = 17        // nachtladen Start\nSOCPreis = 50               // [€/MWh] - Akzeptable Preiserhöhung in der nacht, sollte der Speicher leer sein\nSOCMin = 30                 // [%] SOC Wert der unterschritten werden muss, um die Nachtladung zu aktivieren\nLadeleistung = 150          // [A] Ladeleistungsbegrenzung mit denen der Akku geladen wird um die Multiplus zu schonen (max Leistung pro MP2 5000 = 70A)\nBezugsleistungMax = 15000   // [W] Gekaufte/Erlaubte Bezugsleistung vom Netzanbieter\n\n//Wallbox Parameter\nLadeleistungEV = 12         // [A] Ladeleisung der Wallbox\n\nflow.set('Preisgrenze', Preisgrenze)\nflow.set('AnzahlStunden', AnzahlStunden)\nflow.set('SonnenAufgang', SonnenAufgang)\nflow.set('SonnenUntergang', SonnenUntergang)\nflow.set('SOCPreis', SOCPreis)\nflow.set('SOCMin', SOCMin)\nflow.set('Ladeleistung', Ladeleistung)\nflow.set('BezugsleistungMax', BezugsleistungMax)\n\nflow.set('LadeleistungEV', LadeleistungEV)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "02bfa6ba1bd56255",
        "type": "victron-input-battery",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.battery/512",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/512",
            "name": "SEPLOS"
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "name": "",
        "onlyChanges": false,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "67f80b1185f6c2fb"
            ]
        ]
    },
    {
        "id": "67f80b1185f6c2fb",
        "type": "function",
        "z": "1d2da0ecb43531e3",
        "name": "Nachtladung",
        "func": "// Extrahiere den SOC-Wert aus der Nachrichten-Payload\nSOC = msg.payload;\n\n// Holen der aktuellen Preisgrenze aus dem Flow-Speicher\nPreisgrenzeSOC = flow.get(\"Preisgrenze\");\n\n// Ermittle die aktuelle Stunde\nconst currentHour = new Date().getHours();\n\n// Überprüfe, ob der SOC-Wert unter der minimalen Grenze liegt und es sich um die Zeit nach Sonnenuntergang oder vor Sonnenaufgang handelt\nif (SOC <= flow.get(\"SOCMin\") && currentHour > flow.get(\"SonnenUntergang\") || currentHour < flow.get(\"SonnenAufgang\")) {\n    // Wenn die Bedingung erfüllt ist, erhöhe die Preisgrenze um den SOC-Preis\n    PreisgrenzeSOC = flow.get(\"Preisgrenze\") + flow.get(\"SOCPreis\");\n}\n\n// Setze den SOC-Wert im Flow-Speicher\nflow.set('SOC', SOC);\n\n// Überprüfe, ob der SOC-Wert 100% erreicht hat oder unter dem minimalen SOC-Wert liegt\nif (SOC >= 100 || SOC < flow.get(\"SOCMin\")) {\n    // Setze die PreisgrenzeSOC im Flow-Speicher auf den aktualisierten Wert\n    flow.set('PreisgrenzeSOC', PreisgrenzeSOC);\n    // Wenn der SOC-Wert 100% erreicht hat oder unter dem minimalen SOC-Wert liegt, stoppe den Flow vorerst\n}\n\n// Rückgabe der Nachricht\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6ab5e3f2450a4e5c",
        "type": "victron-output-ess",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.settings",
        "path": "/Settings/SystemSetup/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/SystemSetup/MaxChargeCurrent",
            "type": "float",
            "name": "Charge current limit (A)",
            "writable": true
        },
        "name": "Ladestrombegrenzung",
        "onlyChanges": false,
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "0170e9b146bfe414",
        "type": "change",
        "z": "1d2da0ecb43531e3",
        "name": "Ladeleistung",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "\"Ladeleistung\"",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "6ab5e3f2450a4e5c"
            ]
        ]
    },
    {
        "id": "984719fa76aba201",
        "type": "comment",
        "z": "1d2da0ecb43531e3",
        "name": "Bitte Anpassen",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a4801be6416ca38",
        "type": "comment",
        "z": "1d2da0ecb43531e3",
        "name": "Nachtladung",
        "info": "Verwendete Batterie und State of charge auswählen",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "c56074d0861b590b",
        "type": "comment",
        "z": "1d2da0ecb43531e3",
        "name": "EV Charger",
        "info": "Richtige Wallbox auswählen",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "2076682565bfe65a",
        "type": "comment",
        "z": "1d2da0ecb43531e3",
        "name": "Speichernutzung",
        "info": "",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e3dd15418890bd5",
        "type": "victron-output-ess",
        "z": "1d2da0ecb43531e3",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)",
            "writable": true
        },
        "name": "Netzbezugspunkt",
        "onlyChanges": false,
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "ec26c9f2c323b381",
        "type": "change",
        "z": "1d2da0ecb43531e3",
        "name": "BezugsleistungMax",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "\"BezugsleistungMax\"",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "5e3dd15418890bd5"
            ]
        ]
    },
    {
        "id": "0c51d0c204ec39cb",
        "type": "function",
        "z": "1d2da0ecb43531e3",
        "name": "Stunden filtern",
        "func": "// Gehe davon aus, dass die Daten im Payload des Input-Objekts liegen\nvar data = msg.payload;\n\n// Sortiere die Daten nach dem Strompreis\ndata.data.sort(function(a, b) {\n    return a.marketprice - b.marketprice;\n});\n\n// Extrahiere die fünf günstigsten Einträge\nvar GünstigsteStunden = data.data.slice(0, flow.get(\"AnzahlStunden\"));\n\n// Erstelle eine neue Nachricht mit den gefilterten Daten\nmsg.payload = GünstigsteStunden;\nflow.set('GünstigsteStunden', GünstigsteStunden)\n\n// Gib die Nachricht aus\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "8eec1f226c042e36"
            ]
        ]
    },
    {
        "id": "53556ad57a6b4b4b",
        "type": "inject",
        "z": "1d2da0ecb43531e3",
        "name": "Täglicher Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "57cf21cbc848c7e2"
            ]
        ]
    },
    {
        "id": "7811c30ac8cff4ef",
        "type": "inject",
        "z": "1d2da0ecb43531e3",
        "name": "Parameter übernehmen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e202f02b7a337ac4"
            ]
        ]
    },
    {
        "id": "9295c4c91e663f18",
        "type": "change",
        "z": "1d2da0ecb43531e3",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 120,
        "wires": [
            [
                "247704ba12d5d659"
            ]
        ]
    },
    {
        "id": "e2279e5fcd1c2d90",
        "type": "change",
        "z": "1d2da0ecb43531e3",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "6669a65cb2aa872e"
            ]
        ]
    }
]
